@import "_settings.scss";

$dayWidth: grid(2);
$dayHeight: convert(100);
$mobileHeight: convert(70);

.calendar {
	position: relative;
	overflow: hidden;
	width: grid(7);
	min-width: convert(1200);
	border-top-left-radius: convert(6);
	border-top-right-radius: convert(6);

	@media screen and ( max-width: convert(1220) ) {
		min-width: convert(960);
	}

	@media screen and ( max-width: convert(980) ) {
		min-width: convert(720);
	}

	@media screen and ( max-width: convert(730) ) {
		min-width: convert(610);
	}

	@media screen and ( max-width: convert( $mobile ) ) {
		min-width: convert(340);
	}

	&-header {
		width: 100%;
		border-top-left-radius: convert(6);
		border-top-right-radius: convert(6);
		box-shadow: inset 0 0 convert(4) rgba(0, 0, 0, 0.55);
		text-shadow: 0 0 convert(3) rgba(10, 15, 20, 0.55);
		font-weight: 600;
		font-family: "Source Sans Pro", sans-serif;

		&__date-wrapper {
			padding: convert(25) convert(45);

			@media screen and ( max-width: convert(730) ) {
				padding: convert(14) convert(28);
			}
		}

		&__current-month {
			font-size: convert(28);
		}

		&__current-year {
			font-size: convert(18);
		}

		&__download-btn {
			&-wrapper {
				position: absolute;
				right: 0;
				top: convert(36);
			}

			padding: convert(15) convert(50);
			border-radius: convert(25);
			transition: transform 0.5s;
			cursor: pointer;
			transform: translateX(15%);
		}
	}

	&__columns-name {
		width: grid(14);
		@include row(center, center);

		&.mobile {
			display: none;

			@media screen and ( max-width: convert(730) ) {
				@include row(center, center);
			}
		}

		&.desktop {
			@media screen and ( max-width: convert(730) ) {
				display: none;
			}
		}
	}

	&__column-name {
		width: grid(2);
		padding: convert(10) convert(12);
		text-align: center;
	}

	&-days {
		@include grid;
		width: 100%;
		height: 100%;
		background-color: #fff;
		overflow: hidden;
		border: convert(1) solid rgba(0, 0, 0, 0.5);
		border-bottom-left-radius: convert(6);
		border-bottom-right-radius: convert(6);
	}

	&-day {
		width: $dayWidth;
		height: $dayHeight;
		position: relative;
		background-color: #F6F6F6;
		transition: transform 0.4s;
		cursor: pointer;
		@include column(center, center);
		text-align: center;
		box-shadow: inset 0 0 convert(1) rgba(0, 0, 0, 0.125);

		@media screen and ( max-height: convert(660) ) {
			height: $mobileHeight;
		}

		&__number {
			font-size: convert(28);

			@media screen and ( max-width: convert( $mobile ) ) {
				font-size: convert(22);
			}
		}

		&__title-wrapper {
			padding-top: convert(8);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(0);
			transition: transform 0.3s ease-out;

			@media screen and ( max-width: convert( $mobile ) ) {
				display: none;
			}
		}

		&:hover {
			transform: scaleX(0.95) scaleY(0.90);
		}

		&:hover &__title-wrapper {
			transform: scale(1);
		}

		@media screen and ( max-width: convert( $mobile ) ) {
			height: auto;
			padding: convert(12) convert(14);
		}
	}
}

.download_disabled {
	animation: pulsation infinite 1.2s linear;
	transform: translateX(85%);
}

@keyframes pulsation {
	30% {
		box-shadow: 0 0 convert(12) rgba(255, 255, 255, 0.85);
	}
	60% {
		box-shadow: 0 0 convert(36) rgba(255, 255, 255, 0.55);
	}
	100% {
		box-shadow: 0 0 convert(78) rgba(255, 255, 255, 0.10);
	}
}

.current_day {
	background-color: rgba(143, 186, 205, 0.65);
}

.empty-element {
	width: $dayWidth;
	height: $dayHeight;

	@media screen and ( max-width: convert( $mobile ) ) {
		height: auto;
	}

	@media screen and ( max-height: convert(660) ) {
		height: $mobileHeight;
	}
}