@import "_settings.scss";

html, body {
	min-width: convert(684);
	font: 100% "Open Sans", sans-serif;
}

.page {
	&-wrapper {
		width: grid(14);
		height: 100%;
		@include row(center, center);
	}
	
	&-bg {
		width: grid(14);
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}
}