*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

html, body {
  min-height: 100%;
}

body {
  height: 100%;

  @media screen and ( max-height: 30rem ) {
    height: auto;
  }
}

template {
  display: none;
}

a {
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
